h1 {
text-align: center;
}

.imageGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    flex: 1 1 300px;
    min-width: 250px;
    text-align: center;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}